/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

fieldset{
  border: 0px;
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  margin-bottom: 5px;
}

#logo{
  margin: 35px;
  vertical-align: center;
}

#star{
  width: 120px;
}

td strong{
  margin-left: 10px;
}

.input-400{
  width: 400px;
}

.inline{
  display: inline-block;
}

textarea{
  width: 400px !important;
  height: 100px !important;
}

legend{
  margin-bottom: 5px !important;
}

.camrade_message{
  background: #eee;
  padding-left: 10px;
}
.camrade_message.unread{
  background: #bbb;
}

.checkbox{
  margin-left: 10px;
}

.label{
  padding:1px 4px 2px;-webkit-border-radius:5px 5px 0px 0px;-moz-border-radius:5px 5px 0px 0px;border-radius:5px 5px 0px 0px;
}

div.main_content{
  padding: 5px;
  background: #EEE;
  border-radius: 0px 0px 5px 5px;
}

.ui-autocomplete {
	max-height: 314px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  display: inline;
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}